@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html{
    height: 100%
}
body {
    padding: 0;
    /*    margin: 0 120px;*/
    overflow-y: scroll;
    height: 100%;
    margin-bottom: 60px;
    /*    border-left: 1px solid #afafb6;
        border-right: 1px solid #afafb6;*/
}
#oe_main_menu_navbar {
    min-height: 34px;
    z-index: 1001;
    border-radius: 0
}
#oe_main_menu_navbar li a,
#oe_main_menu_navbar li button
{
    padding: 6px 8px;
    margin-top: 2px;
    font-size: 14px
}
#oe_main_menu_navbar .navbar-brand {
    padding: 6px 25px;
    margin-top: 2px;
    font-size: 17px;
    float: left;
    height: 5px;
    color: #7c7bad
}
#oe_main_menu_navbar .oe_topbar_avatar {
    max-height: 18px;
    width: 18px
}
#oe_main_menu_navbar.navbar {
    margin-bottom: 0
}

.navbar .oe_topbar_name {
    max-width: 150px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle
}

.openerp {
    padding: 0;
    margin: 0;
    font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
    color: #4c4c4c;
    font-size: 13px;
    background: #fff
}
.openerp.openerp_webclient_container {
    height: 95%;
    height: -webkit-calc(100% - 34px);
    height: calc(100% - 34px);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}
@media (max-width: 768px) {
    /*    body {
            margin: 0 10px;
        }*/
    .openerp.openerp_webclient_container {
        height: 95%;
        height: -webkit-calc(100% - 52px);
        height: calc(100% - 52px)
    }
}
.openerp:-moz-placeholder {
    color: #afafb6!important;
    font-style: italic!important
}
.openerp::-webkit-input-placeholder {
    color: #afafb6!important;
    font-style: italic!important
}
.openerp:-ms-input-placeholder {
    color: #afafb6!important;
    font-style: italic!important
}
.openerp a {
    text-decoration: none;
    cursor: pointer!important
}
.openerp .oe_leftbar {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex: 0 0 auto;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 250px;
    height: 100%;
    background: #f0eeee;
    border-right: 1px solid #afafb6;
    position: relative;
    display: inline-block\9;
    vertical-align: top\9
}
.openerp .oe_leftbar a.oe_logo {
    text-align: center;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}
.openerp .oe_leftbar a.oe_logo img {
    margin: 14px 0;
    border: 0
}
.openerp .oe_leftbar a.oe_logo .oe_logo_edit {
    margin: 14px 0;
    position: absolute;
    top: 1px;
    padding: 4px;
    width: 100%;
    display: none;
    text-align: center;
    color: #eee;
    background: rgba(37, 37, 37, .9);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}
.openerp .oe_leftbar a.oe_logo:hover .oe_logo_edit_admin {
    display: block
}
.openerp .oe_leftbar .oe_secondary_menus_container {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow-y: auto
}
.openerp .oe_leftbar .oe_footer {
    background: #f0eeee;
    text-align: center;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}
.openerp .oe_leftbar .oe_footer a {
    font-weight: 700
}
.openerp .oe_leftbar .oe_footer a span {
    color: #a24689
}
.openerp .oe_secondary_menu_section {
    font-weight: 700;
    margin-left: 8px;
    color: #7C7BAD;
    text-transform: uppercase;

}
.openerp .oe_secondary_menu_section>.oe_menu_leaf {
    font-weight: 700;
    color: #7C7BAD
}
.openerp .oe_secondary_submenu>li {
    font-size: 14px;
}
.openerp .oe_secondary_submenu {
    margin-bottom: 10px!important;
    line-height: 1.1em;
    margin-top: 3px
}
.openerp .oe_secondary_submenu .oe_menu_text {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 85%;
    margin-top: 1px
}
.openerp .oe_secondary_submenu .badge:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}
.openerp .oe_secondary_submenu .oe_menu_toggler:before {
    width: 0;
    height: 0;
    display: inline-block;
    content: "&darr";
    text-indent: -99999px;
    vertical-align: top;
    margin-left: -12px;
    margin-top: 4px;
    margin-right: 4px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #4c4c4c;
    filter: alpha(opacity=50);
    opacity: .5
}
.openerp .oe_secondary_submenu .oe_menu_opened:before {
    margin-top: 6px;
    margin-left: -16px;
    margin-right: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #4c4c4c
}
.openerp .oe_secondary_submenu .oe_secondary_submenu li {
    margin-left: 20px
}

.openerp .oe_application {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
}
.openerp .oe_application .oe_application {
    width: 100%
}
.openerp .oe_application .oe_client_action {
    height: 100%;
    overflow: auto;
    position: relative
}
.openerp .oe-view-manager {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: auto;
    position: relative;
    background: url(../img/form_sheetbg.png);
    border-bottom: 1px solid #ddd;
    padding:25px 10px;
}
.openerp .oe-view-manager .oe-view-manager-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0
}
.openerp .oe-view-manager .oe-view-manager-content>div {
    height: 100%;
    position: static;
    display: none
}
.openerp .oe-view-manager .oe-view-manager-content .oe-view-manager-content {
    position: static
}
.openerp .oe-view-manager .oe-view-manager-content .oe-view-manager-content>div {
    display: block
}

.openerp .oe-x2m-control-panel .oe-cp-buttons div,
.openerp .oe-x2m-control-panel .oe-cp-pager div {
    display: inline-block;
    padding: 5px
}
.openerp .oe-control-panel {
    background-color: #f0eeee;
    border-bottom: 1px solid #afafb6;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    user-select: none
}.openerp .oe-control-panel .breadcrumb {
    margin-bottom: 0;
    margin-left: 15px
}

.oe-control-panel  .oe-view-title {
    background-color: #f0eeee;
    font-size: 18px;
    margin: 0;
    padding-left: 0;
}
.openerp .oe-control-panel>.container-fluid {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}


/*.openerp .oe_form_sheetbg {
    padding: 16px 0;
    position: relative
}*/
.openerp .oe_form_sheet {
    min-width: 650px;
    max-width: 860px;
    margin: 0 auto;
    background: #fff;
    min-height: 330px;
    padding: 16px;
}
/*.openerp .oe_form_sheet {

}*/
/*.openerp .oe_application .oe_form_sheetbg {
    background: url(../img/form_sheetbg.png);
    border-bottom: 1px solid #ddd
}*/

.openerp .oe_application .oe_form_sheet {
    border: 1px solid #c8c8d3;
    -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
    margin-bottom: 80px;
}

.openerp .nav-pills li>a {
    padding: 6px 4px 2px 18px;
    color: #4c4c4c
}

.openerp .nav-pills>li.active>a,
.openerp a.list-group-item.active>a {
    background-color: #7c7bad;
    color: #fff;
    border-radius: 0
}
.openerp .nav-pills>li>a:focus,
.openerp .nav-pills>li>a:hover {
    background-color: #9998d1;
    color: #fff;
    border-radius: 0
}
.openerp a.list-group-item.active a:focus,
.openerp a.list-group-item.active a:hover {
    background-color: #7c7bad
}


body.oe_single_form {
    background: url(../img/form_sheetbg.png) #eee;
    height: 100%
}

body {
    overflow: hidden
}
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .oe-view-manager-content>div {
        position: absolute!important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0
    }
    .oe-view-manager-content .oe-view-manager-content>div {
        position: relative!important
    }
    .modal .oe-view-manager-content>div {
        position: static!important;
        max-height: 450px
    }
    .modal>.modal-dialog>.modal-content {
        max-height: 450px
    }
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background: #f0eeee none repeat scroll 0 0;
    border-top: 1px solid #afafb6;
}

.subhead {
    background: -moz-linear-gradient(center top , #ffffff 0%, #ededed 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(center top , #ffffff 0%, #ededed 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(#ffffff, #ededed);
    border-bottom: 1px solid #d3d3d3;
    padding: 8px 30px;
    /*    height: 45px;*/
    top: 50px;
    width:100%;
    z-index:1000;
    /*    margin-right: 400px*/
}
.space5 {
    display: block;
    margin-bottom: 5px !important;
    clear: both;
}

.space7 {
    margin-bottom: 7px !important;
    clear: both;
}

.space10 {
    margin-bottom: 10px !important;
    clear: both;
}

.space12 {
    margin-bottom: 12px !important;
    clear: both;
}

.space15 {
    margin-bottom: 15px !important;
    clear: both;
}

.space20 {
    margin-bottom: 20px !important;
    clear: both;
}
/*btn*/
.btn-menu{

    font-size: 12px;
    padding: 4px 45px;
}
.btn {
    font-family: 'Open Sans';
}
.btn-teal {
    background-color: #569099;
    border-color: #4d8189;
    color: #ffffff;
}
.btn-teal:hover, .btn-teal:focus, .btn-teal:active, .btn-teal.active {
    background-color: #4d8189;
    border-color: #447178;
    color: #ffffff;
}
.btn-teal.disabled:hover, .btn-teal.disabled:focus, .btn-teal.disabled:active, .btn-teal.disabled.active, .btn-teal[disabled]:hover, .btn-teal[disabled]:focus, .btn-teal[disabled]:active, .btn-teal[disabled].active, fieldset[disabled] .btn-teal:hover, fieldset[disabled] .btn-teal:focus, fieldset[disabled] .btn-teal:active, fieldset[disabled] .btn-teal.active {
    background-color: #569099;
    border-color: #569099;
    color: #ffffff;
}

.btn-beige {
    background-color: #cc9;
    border-color: #c4c488;
    color: #ffffff;
}
.btn-beige:hover, .btn-beige:focus, .btn-beige:active, .btn-beige.active {
    background-color: #c4c488;
    border-color: #bbbb77;
    color: #ffffff;
}
.btn-beige.disabled:hover, .btn-beige.disabled:focus, .btn-beige.disabled:active, .btn-beige.disabled.active, .btn-beige[disabled]:hover, .btn-beige[disabled]:focus, .btn-beige[disabled]:active, .btn-beige[disabled].active, fieldset[disabled] .btn-beige:hover, fieldset[disabled] .btn-beige:focus, fieldset[disabled] .btn-beige:active, fieldset[disabled] .btn-beige.active {
    background-color: #cc9;
    border-color: #cc9;
    color: #ffffff;
}
.btn-dark-beige {
    background-color: #afaa6d;
    border-color: #a6a05d;
    color: #ffffff;
}
.btn-dark-beige:hover, .btn-dark-beige:focus, .btn-dark-beige:active, .btn-dark-beige.active {
    background-color: #a6a05d;
    border-color: #979152;
    color: #ffffff;
}
.btn-dark-beige.disabled:hover, .btn-dark-beige.disabled:focus, .btn-dark-beige.disabled:active, .btn-dark-beige.disabled.active, .btn-dark-beige[disabled]:hover, .btn-dark-beige[disabled]:focus, .btn-dark-beige[disabled]:active, .btn-dark-beige[disabled].active, fieldset[disabled] .btn-dark-beige:hover, fieldset[disabled] .btn-dark-beige:focus, fieldset[disabled] .btn-dark-beige:active, fieldset[disabled] .btn-dark-beige.active {
    background-color: #afaa6d;
    border-color: #afaa6d;
    color: #ffffff;
}
.btn-orange {
    background-color: #e6674a;
    border-color: #e35434;
    color: #ffffff;
}
.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active {
    background-color: #e35434;
    border-color: #de421f;
    color: #ffffff;
}
.btn-orange.disabled:hover, .btn-orange.disabled:focus, .btn-orange.disabled:active, .btn-orange.disabled.active, .btn-orange[disabled]:hover, .btn-orange[disabled]:focus, .btn-orange[disabled]:active, .btn-orange[disabled].active, fieldset[disabled] .btn-orange:hover, fieldset[disabled] .btn-orange:focus, fieldset[disabled] .btn-orange:active, fieldset[disabled] .btn-orange.active {
    background-color: #e6674a;
    border-color: #e6674a;
    color: #ffffff;
}
.btn-purple {
    background-color: #57517b;
    border-color: #413d5c;
    color: #ffffff;
}
.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active {
    background-color: #4c476c;
    border-color: #413d5c;
    color: #ffffff;
}
.btn-purple.disabled:hover, .btn-purple.disabled:focus, .btn-purple.disabled:active, .btn-purple.disabled.active, .btn-purple[disabled]:hover, .btn-purple[disabled]:focus, .btn-purple[disabled]:active, .btn-purple[disabled].active, fieldset[disabled] .btn-purple:hover, fieldset[disabled] .btn-purple:focus, fieldset[disabled] .btn-purple:active, fieldset[disabled] .btn-purple.active {
    background-color: #57517b;
    border-color: #333;
    color: #ffffff;
}

.btn-dark-grey {
    background-color: #333;
    border-color: #333;
    color: #ffffff;
}
.btn-dark-grey:hover, .btn-dark-grey:focus, .btn-dark-grey:active, .btn-dark-grey.active {
    background-color: #262626;
    border-color: #1a1a1a;
    color: #ffffff;
}
.btn-dark-grey.disabled:hover, .btn-dark-grey.disabled:focus, .btn-dark-grey.disabled:active, .btn-dark-grey.disabled.active, .btn-dark-grey[disabled]:hover, .btn-dark-grey[disabled]:focus, .btn-dark-grey[disabled]:active, .btn-dark-grey[disabled].active, fieldset[disabled] .btn-dark-grey:hover, fieldset[disabled] .btn-dark-grey:focus, fieldset[disabled] .btn-dark-grey:active, fieldset[disabled] .btn-dark-grey.active {
    background-color: #333;
    border-color: #333;
    color: #ffffff;
}
.btn-med-grey {
    background-color: #666;
    border-color: #595959;
    color: #ffffff;
}
.btn-med-grey:hover, .btn-med-grey:focus, .btn-med-grey:active, .btn-med-grey.active {
    background-color: #595959;
    border-color: #4d4d4d;
    color: #ffffff;
}
.btn-med-grey.disabled:hover, .btn-med-grey.disabled:focus, .btn-med-grey.disabled:active, .btn-med-grey.disabled.active, .btn-med-grey[disabled]:hover, .btn-med-grey[disabled]:focus, .btn-med-grey[disabled]:active, .btn-med-grey[disabled].active, fieldset[disabled] .btn-med-grey:hover, fieldset[disabled] .btn-med-grey:focus, fieldset[disabled] .btn-med-grey:active, fieldset[disabled] .btn-med-grey.active {
    background-color: #666;
    border-color: #666;
    color: #ffffff;
}
.btn-light-grey {
    background-color: #999;
    border-color: #8c8c8c;
    color: #ffffff;
}
.btn-light-grey:hover, .btn-light-grey:focus, .btn-light-grey:active, .btn-light-grey.active {
    background-color: #8c8c8c;
    border-color: #808080;
    color: #ffffff;
}
.btn-light-grey.disabled:hover, .btn-light-grey.disabled:focus, .btn-light-grey.disabled:active, .btn-light-grey.disabled.active, .btn-light-grey[disabled]:hover, .btn-light-grey[disabled]:focus, .btn-light-grey[disabled]:active, .btn-light-grey[disabled].active, fieldset[disabled] .btn-light-grey:hover, fieldset[disabled] .btn-light-grey:focus, fieldset[disabled] .btn-light-grey:active, fieldset[disabled] .btn-light-grey.active {
    background-color: #999;
    border-color: #999;
    color: #ffffff;
}
.btn-bricky {
    background-color: #C83A2A;
    border-color: #b33426;
    color: #ffffff;
}
.btn-bricky:hover, .btn-bricky:focus, .btn-bricky:active, .btn-bricky.active {
    background-color: #b33426;
    border-color: #9e2e21;
    color: #ffffff;
}
.btn-bricky.disabled:hover, .btn-bricky.disabled:focus, .btn-bricky.disabled:active, .btn-bricky.disabled.active, .btn-bricky[disabled]:hover, .btn-bricky[disabled]:focus, .btn-bricky[disabled]:active, .btn-bricky[disabled].active, fieldset[disabled] .btn-bricky:hover, fieldset[disabled] .btn-bricky:focus, fieldset[disabled] .btn-bricky:active, fieldset[disabled] .btn-bricky.active {
    background-color: #C83A2A;
    border-color: #C83A2A;
    color: #ffffff;
}
.btn-green {
    background-color: #3D9400;
    border-color: #327b00;
    color: #ffffff;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active {
    background-color: #327b00;
    border-color: #286100;
    color: #ffffff;
}
.btn-green.disabled:hover, .btn-green.disabled:focus, .btn-green.disabled:active, .btn-green.disabled.active, .btn-green[disabled]:hover, .btn-green[disabled]:focus, .btn-green[disabled]:active, .btn-green[disabled].active, fieldset[disabled] .btn-green:hover, fieldset[disabled] .btn-green:focus, fieldset[disabled] .btn-green:active, fieldset[disabled] .btn-green.active {
    background-color: #3D9400;
    border-color: #3D9400;
    color: #ffffff;
}
.btn-blue {
    background-color: #364F6A;
    border-color: #2d4259;
    color: #ffffff;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active {
    background-color: #2d4259;
    border-color: #253648;
    color: #ffffff;
}
.btn-blue.disabled:hover, .btn-blue.disabled:focus, .btn-blue.disabled:active, .btn-blue.disabled.active, .btn-blue[disabled]:hover, .btn-blue[disabled]:focus, .btn-blue[disabled]:active, .btn-blue[disabled].active, fieldset[disabled] .btn-blue:hover, fieldset[disabled] .btn-blue:focus, fieldset[disabled] .btn-blue:active, fieldset[disabled] .btn-blue.active {
    background-color: #364F6A;
    border-color: #364F6A;
    color: #ffffff;
}

.btn-yellow {
    background-color: #FFB848;
    border-color: #ffae2f;
    color: #ffffff;
}
.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active, .btn-yellow.active {
    background-color: #ffae2f;
    border-color: #ffa415;
    color: #ffffff;
}
.btn-yellow.disabled:hover, .btn-yellow.disabled:focus, .btn-yellow.disabled:active, .btn-yellow.disabled.active, .btn-yellow[disabled]:hover, .btn-yellow[disabled]:focus, .btn-yellow[disabled]:active, .btn-yellow[disabled].active, fieldset[disabled] .btn-yellow:hover, fieldset[disabled] .btn-yellow:focus, fieldset[disabled] .btn-yellow:active, fieldset[disabled] .btn-yellow.active {
    background-color: #FFB848;
    border-color: #FFB848;
    color: #ffffff;
}
.btn-red {
    background-color: #E02222;
    border-color: #cc1d1d;
    color: #ffffff;
}
.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active {
    background-color: #cc1d1d;
    border-color: #b61919;
    color: #ffffff;
}
.btn-red.disabled:hover, .btn-red.disabled:focus, .btn-red.disabled:active, .btn-red.disabled.active, .btn-red[disabled]:hover, .btn-red[disabled]:focus, .btn-red[disabled]:active, .btn-red[disabled].active, fieldset[disabled] .btn-red:hover, fieldset[disabled] .btn-red:focus, fieldset[disabled] .btn-red:active, fieldset[disabled] .btn-red.active {
    background-color: #E02222;
    border-color: #E02222;
    color: #ffffff;
}
.btn-teal .caret, .btn-beige .caret, .btn-dark-beige .caret, .btn-orange .caret, .btn-purple .caret, .btn-dark-grey .caret, .btn-med-grey .caret, .btn-light-grey .caret, .btn-bricky .caret, .btn-green .caret, .btn-blue .caret, .btn-yellow .caret, .btn-red .caret {
    border-top-color: #ffffff;
}
.dropup .btn-teal .caret, .dropup .btn-beige .caret, .dropup .btn-dark-beige .caret, .dropup .btn-orange .caret, .dropup .btn-purple .caret, .dropup .btn-dark-grey .caret, .dropup .btn-med-grey .caret, .dropup .btn-light-grey .caret, .dropup .btn-bricky .caret, .dropup .btn-green .caret, .dropup .btn-blue .caret, .dropup .btn-yellow .caret, .dropup .btn-red .caret {
    border-bottom: 4px solid #FFFFFF;
}
.btn-squared {
    border-radius: 0 !important;
}
.btn {
    transition: all 0.3s ease 0s !important;
}


/*font and icon size*/
.fa-12px {
    font-size: 12px;
}
.fa-13px {
    font-size: 13px;
}
.fa-14px {
    font-size: 14px;
}
.fa-15px {
    font-size: 15px;
}
/*font and icon colors*/
.color-teal {
    color: #569099;
}
.color-beige {
    color: #cc9;
}
.color-dark-beige {
    color: #afaa6d;
}
.color-orange {
    color: #e6674a;
}
.color-purple {
    color: #57517b;
}

.color-dark-grey {
    color: #333;
}
.color-med-grey {
    color: #666;

}
.color-light-grey {
    color: #999;
}
.color-bricky {
    color: #C83A2A;
}
.color-green {
    color: #3D9400;
}
.color-blue {
    color: #364F6A;
}

.color-yellow {
    color: #FFB848;
}
.color-red {
    color: #E02222;
}
/*datatables override*/
div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}
div.dataTables_wrapper div.dataTables_length {
    text-align: right;
}
div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: left;
}
/*menu items*/
/*body{ margin-top:50px;}*/
.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
/*.tab-pane {padding: 10px}*/
.tab-pane .list-group-item{ }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; cursor: move; padding: 0 15px;}
.tab-pane .list-group input[type="checkbox"]{ margin-top: 10px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
a.list-group-item.read { color: #222;background-color: #F3F3F3; }
hr { margin-top: 5px;margin-bottom: 10px; }
.nav-pills>li>a {padding: 5px 10px;}

.ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
.ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
.ad a.url {color: #093;text-decoration: none;}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

